.footer_div{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

body{
    background-color: grey;
}

#title{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
}

#instruction{
    color: red;
}

#camera{
    width: 500px;
    height: 400px;
    border-color: white;
}

#result1{
    width: 500px;
    border-radius: 0px;
    padding: 0px;
    box-shadow: 0 6px 8px 0 rgba(2, 2, 2, 0.2);
}

#result2{
    width: 500px;
    border-radius: 0px;
    padding: 0px;
    box-shadow: 0 6px 8px 0 rgba(2, 2, 2, 0.2);
}

#result3{
    width: 500px;
    border-radius: 0px;
    padding: 0px;
    box-shadow: 0 6px 8px 0 rgba(2, 2, 2, 0.2);
}

img.hover{
    border-radius: 140px;
}